<section class="sample-app-content">
  <h1>Check Angular and Nodejs</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p>
          <label>Number:</label>
          <input type="text" formControlName="Number">
      </p>
      <p>
          <label>Edit</label>
          <input type="text" formControlName="Edit">
      </p>
      
          
          <div >
            <button (click)="show()">SHow Array</button>
            
        </div>     
      <p>
        <button type="submit" (click)="insert()">Insert</button>
      <button type="submit" (click)="update()">Update</button>
    <button type="submit" (click)="delete()">Delete</button>
    </p>


  </form>
</section>